In [122]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings

response = requests.get('https://data.gov.sg/api/action/datastore_search?resource_id=42ff9cfe-abe5-4b54-beda-c88f9bb438ee&limit=100000')

response2 = response.json()
response2

result = response2.get('result')
result
records = result.get('records')
records

import json

json_string = json.dumps(records)
json_string

df = pd.read_json(json_string)

df

,town,flat_type,flat_model,floor_area_sqm,street_name,resale_price,month,remaining_lease,lease_commence_date,storey_range,_id,block
0,ANG MO KIO,2 ROOM,Improved,44.0,ANG MO KIO AVE 10,232000.0,2017-01,61 years 04 months,1979,10 TO 12,1,406
1,ANG MO KIO,3 ROOM,New Generation,67.0,ANG MO KIO AVE 4,250000.0,2017-01,60 years 07 months,1978,01 TO 03,2,108
2,ANG MO KIO,3 ROOM,New Generation,67.0,ANG MO KIO AVE 5,262000.0,2017-01,62 years 05 months,1980,01 TO 03,3,602
3,ANG MO KIO,3 ROOM,New Generation,68.0,ANG MO KIO AVE 10,265000.0,2017-01,62 years 01 month,1980,04 TO 06,4,465
4,ANG MO KIO,3 ROOM,New Generation,67.0,ANG MO KIO AVE 5,265000.0,2017-01,62 years 05 months,1980,01 TO 03,5,601
...,...,...,...,...,...,...,...,...,...,...,...,...
92265,YISHUN,EXECUTIVE,Maisonette,148.0,YISHUN AVE 6,655000.0,2021-02,66 years 08 months,1988,10 TO 12,92266,406
92266,YISHUN,EXECUTIVE,Maisonette,146.0,YISHUN RING RD,650000.0,2021-02,66 years 10 months,1988,10 TO 12,92267,355
92267,YISHUN,EXECUTIVE,Maisonette,146.0,YISHUN RING RD,607000.0,2021-02,66 years 02 months,1988,01 TO 03,92268,364
92268,YISHUN,EXECUTIVE,Apartment,142.0,YISHUN ST 81,670000.0,2021-02,66 years,1988,01 TO 03,92269,828
92269,YISHUN,EXECUTIVE,Maisonette,145.0,YISHUN ST 81,660000.0,2021-02,65 years 10 months,1987,07 TO 09,92270,877

In [115]:
df[['year_of_sale','month_of_sale']] = df.month.str.split("-",expand=True)
df[['remaining_lease_years','yeartext','remaining_lease_months','monthtext']] = df.remaining_lease.str.split(" ",expand=True)
df[['storey_range_min','storey_range_max']]=df.storey_range.str.split(" TO ",expand=True)
df['date_of_sale']= pd.to_datetime(df['month'])

df.remaining_lease_months.fillna(value=0,inplace=True)
df.monthtext.fillna(value=0,inplace=True)

df = df.astype({"floor_area_sqm":int,"resale_price":int,"lease_commence_date":int,"year_of_sale":int,"month_of_sale":int,"remaining_lease_years":int,"remaining_lease_months":int,"storey_range_min":int,"storey_range_max":int})

df['storey_average']=df[['storey_range_min','storey_range_max']].mean(axis=1)

df=df.drop(columns=['yeartext','monthtext'])

df

,town,flat_type,flat_model,floor_area_sqm,street_name,resale_price,month,remaining_lease,lease_commence_date,storey_range,_id,block,year_of_sale,month_of_sale,remaining_lease_years,remaining_lease_months,storey_range_min,storey_range_max,date_of_sale,storey_average
0,ANG MO KIO,2 ROOM,Improved,44,ANG MO KIO AVE 10,232000,2017-01,61 years 04 months,1979,10 TO 12,1,406,2017,1,61,4,10,12,2017-01-01,11.0
1,ANG MO KIO,3 ROOM,New Generation,67,ANG MO KIO AVE 4,250000,2017-01,60 years 07 months,1978,01 TO 03,2,108,2017,1,60,7,1,3,2017-01-01,2.0
2,ANG MO KIO,3 ROOM,New Generation,67,ANG MO KIO AVE 5,262000,2017-01,62 years 05 months,1980,01 TO 03,3,602,2017,1,62,5,1,3,2017-01-01,2.0
3,ANG MO KIO,3 ROOM,New Generation,68,ANG MO KIO AVE 10,265000,2017-01,62 years 01 month,1980,04 TO 06,4,465,2017,1,62,1,4,6,2017-01-01,5.0
4,ANG MO KIO,3 ROOM,New Generation,67,ANG MO KIO AVE 5,265000,2017-01,62 years 05 months,1980,01 TO 03,5,601,2017,1,62,5,1,3,2017-01-01,2.0
5,ANG MO KIO,3 ROOM,New Generation,68,ANG MO KIO AVE 5,275000,2017-01,63 years,1981,01 TO 03,6,150,2017,1,63,0,1,3,2017-01-01,2.0

In [123]:
#transformation
#split year-month of sale string
df[['year_of_sale','month_of_sale']] = df.month.str.split("-",expand=True)
#split remaining_lease_years string
df[['remaining_lease_years','yeartext','remaining_lease_months','monthtext']] = df.remaining_lease.str.split(" ",expand=True)
#split storey min_max string
df[['storey_range_min','storey_range_max']]=df.storey_range.str.split(" TO ",expand=True)
#insert new column with datetime format for date of sale
df['date_of_sale']= pd.to_datetime(df['month'])
#change python None to NaN remaining_lease_months, monthtext
df.remaining_lease_months.fillna(value=0,inplace=True)
df.monthtext.fillna(value=0,inplace=True)
#change required type to int, for comparison
df = df.astype({"floor_area_sqm":int,"resale_price":int,"lease_commence_date":int,"year_of_sale":int,"month_of_sale":int,"remaining_lease_years":int,"remaining_lease_months":int,"storey_range_min":int,"storey_range_max":int})
#calculate average storey (can be used as actual floor)
df['storey_average']=df[['storey_range_min','storey_range_max']].mean(axis=1)
#drop unwanted columns
df=df.drop(columns=['yeartext','monthtext'])
df

,town,flat_type,flat_model,floor_area_sqm,street_name,resale_price,month,remaining_lease,lease_commence_date,storey_range,_id,block,year_of_sale,month_of_sale,remaining_lease_years,remaining_lease_months,storey_range_min,storey_range_max,date_of_sale,storey_average
0,ANG MO KIO,2 ROOM,Improved,44,ANG MO KIO AVE 10,232000,2017-01,61 years 04 months,1979,10 TO 12,1,406,2017,1,61,4,10,12,2017-01-01,11.0
1,ANG MO KIO,3 ROOM,New Generation,67,ANG MO KIO AVE 4,250000,2017-01,60 years 07 months,1978,01 TO 03,2,108,2017,1,60,7,1,3,2017-01-01,2.0
2,ANG MO KIO,3 ROOM,New Generation,67,ANG MO KIO AVE 5,262000,2017-01,62 years 05 months,1980,01 TO 03,3,602,2017,1,62,5,1,3,2017-01-01,2.0
3,ANG MO KIO,3 ROOM,New Generation,68,ANG MO KIO AVE 10,265000,2017-01,62 years 01 month,1980,04 TO 06,4,465,2017,1,62,1,4,6,2017-01-01,5.0
4,ANG MO KIO,3 ROOM,New Generation,67,ANG MO KIO AVE 5,265000,2017-01,62 years 05 months,1980,01 TO 03,5,601,2017,1,62,5,1,3,2017-01-01,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92265,YISHUN,EXECUTIVE,Maisonette,148,YISHUN AVE 6,655000,2021-02,66 years 08 months,1988,10 TO 12,92266,406,2021,2,66,8,10,12,2021-02-01,11.0
92266,YISHUN,EXECUTIVE,Maisonette,146,YISHUN RING RD,650000,2021-02,66 years 10 months,1988,10 TO 12,92267,355,2021,2,66,10,10,12,2021-02-01,11.0
92267,YISHUN,EXECUTIVE,Maisonette,146,YISHUN RING RD,607000,2021-02,66 years 02 months,1988,01 TO 03,92268,364,2021,2,66,2,1,3,2021-02-01,2.0
92268,YISHUN,EXECUTIVE,Apartment,142,YISHUN ST 81,670000,2021-02,66 years,1988,01 TO 03,92269,828,2021,2,66,0,1,3,2021-02-01,2.0
92269,YISHUN,EXECUTIVE,Maisonette,145,YISHUN ST 81,660000,2021-02,65 years 10 months,1987,07 TO 09,92270,877,2021,2,65,10,7,9,2021-02-01,8.0

In [129]:

df.plot.scatter(y="resale_price",x='date_of_sale')


#correlation matrix
corrmat = df.corr()
f, ax = plt.subplots(figsize=(12, 9))
sns.heatmap(corrmat, vmax=.8, square=True);

TypeError: cannot perform reduce with flexible type

AttributeError: module 'pandas' has no attribute 'Dataframe'